In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import os 
import pily as pl

In [3]:
#con el archivo pily.py
df = pl.cargar_dataset ('Francia.csv')
df

,Unnamed: 0,name,host_id,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_is_superhost,...,review_scores_cleanliness,review_scores_checkin,review_scores_location,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_entire_homes.1,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,"Duplex avec vue, centre ville",269557,Isabelle,2010-10-24,"Lyon, France",I'm 47 years old. I enjoy books and arts. I'm ...,within a few hours,1.00,f,...,4.71,4.78,4.86,"Available with a mobility lease only (""bail mo...",f,1,1,1,0,0.33
1,1,Nice Flat in the center of Lyon,411285,Clementine,2011-02-26,"Lyon, France",Je travaille dans le cinéma et je voyage beauc...,within an hour,1.00,f,...,4.80,4.96,4.88,6938113058353,f,1,1,1,0,0.15
2,2,"Centre of old town,home sweet home",660135,Polali,2011-06-03,"Lyon, France","J'ai 34 ans , je suis animatrice auprès de per...",a few days or more,0.00,f,...,4.27,4.72,4.86,6938513221658,f,1,1,1,0,0.82
3,3,"Bel apartment, 2 rooms, Lyon center",670404,Sandrine,2011-06-06,"Lyon, France","We are a family with 3 daughters, aged 16-14-1...",NaN,NaN,f,...,4.89,4.89,4.95,693861800177,f,1,1,1,0,0.12
4,4,Quartier Terreaux 4/6 pers. Hyper centre / Clim,832917,Giuseppina,2011-07-18,"Rhône-Alpes, France","Mon pays d'origine est l'Italie, mais je résid...",within an hour,1.00,f,...,4.86,4.83,4.88,6938112368465,f,2,2,2,0,2.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9886,9886,Suite Rumba,651608878,Pablo,2024-09-12,NaN,NaN,within an hour,0.87,f,...,NaN,NaN,NaN,6900078928345,t,17,17,17,0,NaN
9887,9887,Suite Zelie,651608878,Pablo,2024-09-12,NaN,NaN,within an hour,0.87,f,...,NaN,NaN,NaN,6900399034456,t,17,17,17,0,NaN
9888,9888,Havre de Paix au Cœur du 7ème,666633599,Adrian,2024-12-12,NaN,NaN,NaN,NaN,f,...,NaN,NaN,NaN,6938712751252,f,1,1,1,0,NaN
9889,9889,Le Duplex avec Rooftop,12466813,Hugues,2014-02-22,"Lyon, France",NaN,within an hour,1.00,f,...,NaN,NaN,NaN,6938713431341,f,1,1,1,0,NaN
9890,9890,L’opéra,417340177,Fifa,2021-08-07,"Lyon, France",NaN,within an hour,1.00,NaN,...,NaN,NaN,NaN,Exempt - hotel-type listing,t,5,4,4,0,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9891 entries, 0 to 9890
Data columns (total 51 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Unnamed: 0                                     9891 non-null   int64
 1   name                                           9891 non-null   object
 2   host_id                                        9891 non-null   int64
 3   host_name                                      9889 non-null   object
 4   host_since                                     9889 non-null   object
 5   host_location                                  8367 non-null   object
 6   host_about                                     3825 non-null   object
 7   host_response_time                             5235 non-null   object
 8   host_response_rate                             5235 non-null   float64
 9   host_is_superhost                              9680 non-null   object
 10  host_neighbourhood                             4347 non-null   object
 11  host_listings_count                            9889 non-null   float64
 12  host_total_listings_count                      9889 non-null   float64
 13  host_identity_verified                         9889 non-null   object
 14  neighbourhood_cleansed                         9891 non-null   object
 15  latitude                                       9891 non-null   float64
 16  longitude                                      9891 non-null   float64
 17  property_type                                  9891 non-null   object
 18  room_type                                      9891 non-null   object
 19  accommodates                                   9891 non-null   int64
 20  bathrooms                                      5466 non-null   float64
 21  bedrooms                                       8519 non-null   float64
 22  beds                                           5458 non-null   float64
 23  price                                          5470 non-null   float64
 24  minimum_nights                                 9891 non-null   int64
 25  maximum_nights                                 9891 non-null   int64
 26  minimum_minimum_nights                         9891 non-null   int64
 27  maximum_minimum_nights                         9891 non-null   int64
 28  minimum_maximum_nights                         9891 non-null   int64
 29  maximum_maximum_nights                         9891 non-null   int64
 30  minimum_nights_avg_ntm                         9891 non-null   float64
 31  maximum_nights_avg_ntm                         9891 non-null   float64
 32  availability_30                                9891 non-null   int64
 33  availability_60                                9891 non-null   int64
 34  availability_90                                9891 non-null   int64
 35  availability_365                               9891 non-null   int64
 36  number_of_reviews                              9891 non-null   int64
 37  number_of_reviews_ltm                          9891 non-null   int64
 38  number_of_reviews_l30d                         9891 non-null   int64
 39  last_review                                    8024 non-null   object
 40  review_scores_rating                           8024 non-null   float64
 41  review_scores_cleanliness                      8024 non-null   float64
 42  review_scores_checkin                          8021 non-null   float64
 43  review_scores_location                         8020 non-null   float64
 44  license                                        5916 non-null   object
 45  instant_bookable                               9891 non-null   object
 46  calculated_host_listings_count                 9891 non-null   int64
 47  calculated_host_listings_count_entire_homes    9891 non-null   int64
 48  calculated_host_listings_count_entire_homes.1  9891 non-null   int64
 49  calculated_host_listings_count_shared_rooms    9891 non-null   int64
 50  reviews_per_month                              8024 non-null   float64
dtypes: float64(16), int64(20), object(15)
memory usage: 3.8+ MB

In [5]:
#Valores nulos
nulos = pl.valores_nulos(df)
nulos

('Valores nulos por columna',
 Unnamed: 0                                          0
 name                                                0
 host_id                                             0
 host_name                                           2
 host_since                                          2
 host_location                                    1524
 host_about                                       6066
 host_response_time                               4656
 host_response_rate                               4656
 host_is_superhost                                 211
 host_neighbourhood                               5544
 host_listings_count                                 2
 host_total_listings_count                           2
 host_identity_verified                              2
 neighbourhood_cleansed                              0
 latitude                                            0
 longitude                                           0
 property_type                                       0
 room_type                                           0
 accommodates                                        0
 bathrooms                                        4425
 bedrooms                                         1372
 beds                                             4433
 price                                            4421
 minimum_nights                                      0
 maximum_nights                                      0
 minimum_minimum_nights                              0
 maximum_minimum_nights                              0
 minimum_maximum_nights                              0
 maximum_maximum_nights                              0
 minimum_nights_avg_ntm                              0
 maximum_nights_avg_ntm                              0
 availability_30                                     0
 availability_60                                     0
 availability_90                                     0
 availability_365                                    0
 number_of_reviews                                   0
 number_of_reviews_ltm                               0
 number_of_reviews_l30d                              0
 last_review                                      1867
 review_scores_rating                             1867
 review_scores_cleanliness                        1867
 review_scores_checkin                            1870
 review_scores_location                           1871
 license                                          3975
 instant_bookable                                    0
 calculated_host_listings_count                      0
 calculated_host_listings_count_entire_homes         0
 calculated_host_listings_count_entire_homes.1       0
 calculated_host_listings_count_shared_rooms         0
 reviews_per_month                                1867
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(52502))

In [6]:
df1 = df.copy()

In [7]:
df2 = df.copy()

In [8]:
df3 = df.copy()

In [9]:
df4 = df.copy()

In [10]:
df5 = df.copy()

In [11]:
df6 = df.copy()

**FORWARD FILL - FFILL**

In [12]:
ffill = pl.sustitucion_ffill(df1,'bathrooms')
ffill

/Users/pilymendez/Desktop/Profe Alfredo /5_Funciones/pily.py:41: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[col] = df[col].fillna(method='ffill')

,Unnamed: 0,name,host_id,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_is_superhost,...,review_scores_cleanliness,review_scores_checkin,review_scores_location,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_entire_homes.1,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,"Duplex avec vue, centre ville",269557,Isabelle,2010-10-24,"Lyon, France",I'm 47 years old. I enjoy books and arts. I'm ...,within a few hours,1.00,f,...,4.71,4.78,4.86,"Available with a mobility lease only (""bail mo...",f,1,1,1,0,0.33
1,1,Nice Flat in the center of Lyon,411285,Clementine,2011-02-26,"Lyon, France",Je travaille dans le cinéma et je voyage beauc...,within an hour,1.00,f,...,4.80,4.96,4.88,6938113058353,f,1,1,1,0,0.15
2,2,"Centre of old town,home sweet home",660135,Polali,2011-06-03,"Lyon, France","J'ai 34 ans , je suis animatrice auprès de per...",a few days or more,0.00,f,...,4.27,4.72,4.86,6938513221658,f,1,1,1,0,0.82
3,3,"Bel apartment, 2 rooms, Lyon center",670404,Sandrine,2011-06-06,"Lyon, France","We are a family with 3 daughters, aged 16-14-1...",NaN,NaN,f,...,4.89,4.89,4.95,693861800177,f,1,1,1,0,0.12
4,4,Quartier Terreaux 4/6 pers. Hyper centre / Clim,832917,Giuseppina,2011-07-18,"Rhône-Alpes, France","Mon pays d'origine est l'Italie, mais je résid...",within an hour,1.00,f,...,4.86,4.83,4.88,6938112368465,f,2,2,2,0,2.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9886,9886,Suite Rumba,651608878,Pablo,2024-09-12,NaN,NaN,within an hour,0.87,f,...,NaN,NaN,NaN,6900078928345,t,17,17,17,0,NaN
9887,9887,Suite Zelie,651608878,Pablo,2024-09-12,NaN,NaN,within an hour,0.87,f,...,NaN,NaN,NaN,6900399034456,t,17,17,17,0,NaN
9888,9888,Havre de Paix au Cœur du 7ème,666633599,Adrian,2024-12-12,NaN,NaN,NaN,NaN,f,...,NaN,NaN,NaN,6938712751252,f,1,1,1,0,NaN
9889,9889,Le Duplex avec Rooftop,12466813,Hugues,2014-02-22,"Lyon, France",NaN,within an hour,1.00,f,...,NaN,NaN,NaN,6938713431341,f,1,1,1,0,NaN
9890,9890,L’opéra,417340177,Fifa,2021-08-07,"Lyon, France",NaN,within an hour,1.00,NaN,...,NaN,NaN,NaN,Exempt - hotel-type listing,t,5,4,4,0,NaN

In [13]:
pl.valores_nulos(ffill)

('Valores nulos por columna',
 Unnamed: 0                                          0
 name                                                0
 host_id                                             0
 host_name                                           2
 host_since                                          2
 host_location                                    1524
 host_about                                       6066
 host_response_time                               4656
 host_response_rate                               4656
 host_is_superhost                                 211
 host_neighbourhood                               5544
 host_listings_count                                 2
 host_total_listings_count                           2
 host_identity_verified                              2
 neighbourhood_cleansed                              0
 latitude                                            0
 longitude                                           0
 property_type                                       0
 room_type                                           0
 accommodates                                        0
 bathrooms                                           0
 bedrooms                                         1372
 beds                                             4433
 price                                            4421
 minimum_nights                                      0
 maximum_nights                                      0
 minimum_minimum_nights                              0
 maximum_minimum_nights                              0
 minimum_maximum_nights                              0
 maximum_maximum_nights                              0
 minimum_nights_avg_ntm                              0
 maximum_nights_avg_ntm                              0
 availability_30                                     0
 availability_60                                     0
 availability_90                                     0
 availability_365                                    0
 number_of_reviews                                   0
 number_of_reviews_ltm                               0
 number_of_reviews_l30d                              0
 last_review                                      1867
 review_scores_rating                             1867
 review_scores_cleanliness                        1867
 review_scores_checkin                            1870
 review_scores_location                           1871
 license                                          3975
 instant_bookable                                    0
 calculated_host_listings_count                      0
 calculated_host_listings_count_entire_homes         0
 calculated_host_listings_count_entire_homes.1       0
 calculated_host_listings_count_shared_rooms         0
 reviews_per_month                                1867
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(48077))

In [30]:
csv1 = pl.convertir_a_csv (ffill,'01_Ffill.csv')

**BACKWARD FILL - BFILL**

In [15]:
bfill = pl.sustitución_bfill(df2)
bfill

/Users/pilymendez/Desktop/Profe Alfredo /5_Funciones/pily.py:51: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  cualitativas = cualitativas.fillna(method="bfill")

,Unnamed: 0,name,host_id,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_is_superhost,...,review_scores_cleanliness,review_scores_checkin,review_scores_location,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_entire_homes.1,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,"Duplex avec vue, centre ville",269557,Isabelle,2010-10-24,"Lyon, France",I'm 47 years old. I enjoy books and arts. I'm ...,within a few hours,1.00,f,...,4.71,4.78,4.86,"Available with a mobility lease only (""bail mo...",f,1,1,1,0,0.33
1,1,Nice Flat in the center of Lyon,411285,Clementine,2011-02-26,"Lyon, France",Je travaille dans le cinéma et je voyage beauc...,within an hour,1.00,f,...,4.80,4.96,4.88,6938113058353,f,1,1,1,0,0.15
2,2,"Centre of old town,home sweet home",660135,Polali,2011-06-03,"Lyon, France","J'ai 34 ans , je suis animatrice auprès de per...",a few days or more,0.00,f,...,4.27,4.72,4.86,6938513221658,f,1,1,1,0,0.82
3,3,"Bel apartment, 2 rooms, Lyon center",670404,Sandrine,2011-06-06,"Lyon, France","We are a family with 3 daughters, aged 16-14-1...",within an hour,NaN,f,...,4.89,4.89,4.95,693861800177,f,1,1,1,0,0.12
4,4,Quartier Terreaux 4/6 pers. Hyper centre / Clim,832917,Giuseppina,2011-07-18,"Rhône-Alpes, France","Mon pays d'origine est l'Italie, mais je résid...",within an hour,1.00,f,...,4.86,4.83,4.88,6938112368465,f,2,2,2,0,2.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9886,9886,Suite Rumba,651608878,Pablo,2024-09-12,"Lyon, France",NaN,within an hour,0.87,f,...,NaN,NaN,NaN,6900078928345,t,17,17,17,0,NaN
9887,9887,Suite Zelie,651608878,Pablo,2024-09-12,"Lyon, France",NaN,within an hour,0.87,f,...,NaN,NaN,NaN,6900399034456,t,17,17,17,0,NaN
9888,9888,Havre de Paix au Cœur du 7ème,666633599,Adrian,2024-12-12,"Lyon, France",NaN,within an hour,NaN,f,...,NaN,NaN,NaN,6938712751252,f,1,1,1,0,NaN
9889,9889,Le Duplex avec Rooftop,12466813,Hugues,2014-02-22,"Lyon, France",NaN,within an hour,1.00,f,...,NaN,NaN,NaN,6938713431341,f,1,1,1,0,NaN
9890,9890,L’opéra,417340177,Fifa,2021-08-07,"Lyon, France",NaN,within an hour,1.00,NaN,...,NaN,NaN,NaN,Exempt - hotel-type listing,t,5,4,4,0,NaN

In [16]:
pl.valores_nulos(bfill)

('Valores nulos por columna',
 Unnamed: 0                                          0
 name                                                0
 host_id                                             0
 host_name                                           0
 host_since                                          0
 host_location                                       0
 host_about                                          6
 host_response_time                                  0
 host_response_rate                               4656
 host_is_superhost                                   1
 host_neighbourhood                                 11
 host_listings_count                                 2
 host_total_listings_count                           2
 host_identity_verified                              0
 neighbourhood_cleansed                              0
 latitude                                            0
 longitude                                           0
 property_type                                       0
 room_type                                           0
 accommodates                                        0
 bathrooms                                        4425
 bedrooms                                         1372
 beds                                             4433
 price                                            4421
 minimum_nights                                      0
 maximum_nights                                      0
 minimum_minimum_nights                              0
 maximum_minimum_nights                              0
 minimum_maximum_nights                              0
 maximum_maximum_nights                              0
 minimum_nights_avg_ntm                              0
 maximum_nights_avg_ntm                              0
 availability_30                                     0
 availability_60                                     0
 availability_90                                     0
 availability_365                                    0
 number_of_reviews                                   0
 number_of_reviews_ltm                               0
 number_of_reviews_l30d                              0
 last_review                                        29
 review_scores_rating                             1867
 review_scores_cleanliness                        1867
 review_scores_checkin                            1870
 review_scores_location                           1871
 license                                             0
 instant_bookable                                    0
 calculated_host_listings_count                      0
 calculated_host_listings_count_entire_homes         0
 calculated_host_listings_count_entire_homes.1       0
 calculated_host_listings_count_shared_rooms         0
 reviews_per_month                                1867
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(28700))

In [31]:
csv2 = pl.convertir_a_csv (bfill,'02_bfill.csv')

**STRING CONCRETO**

In [17]:
concreto = pl.sustitucion_string(df3,'host_about')
concreto

,Unnamed: 0,name,host_id,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_is_superhost,...,review_scores_cleanliness,review_scores_checkin,review_scores_location,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_entire_homes.1,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,"Duplex avec vue, centre ville",269557,Isabelle,2010-10-24,"Lyon, France",I'm 47 years old. I enjoy books and arts. I'm ...,within a few hours,1.00,f,...,4.71,4.78,4.86,"Available with a mobility lease only (""bail mo...",f,1,1,1,0,0.33
1,1,Nice Flat in the center of Lyon,411285,Clementine,2011-02-26,"Lyon, France",Je travaille dans le cinéma et je voyage beauc...,within an hour,1.00,f,...,4.80,4.96,4.88,6938113058353,f,1,1,1,0,0.15
2,2,"Centre of old town,home sweet home",660135,Polali,2011-06-03,"Lyon, France","J'ai 34 ans , je suis animatrice auprès de per...",a few days or more,0.00,f,...,4.27,4.72,4.86,6938513221658,f,1,1,1,0,0.82
3,3,"Bel apartment, 2 rooms, Lyon center",670404,Sandrine,2011-06-06,"Lyon, France","We are a family with 3 daughters, aged 16-14-1...",NaN,NaN,f,...,4.89,4.89,4.95,693861800177,f,1,1,1,0,0.12
4,4,Quartier Terreaux 4/6 pers. Hyper centre / Clim,832917,Giuseppina,2011-07-18,"Rhône-Alpes, France","Mon pays d'origine est l'Italie, mais je résid...",within an hour,1.00,f,...,4.86,4.83,4.88,6938112368465,f,2,2,2,0,2.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9886,9886,Suite Rumba,651608878,Pablo,2024-09-12,NaN,Información no disponible,within an hour,0.87,f,...,NaN,NaN,NaN,6900078928345,t,17,17,17,0,NaN
9887,9887,Suite Zelie,651608878,Pablo,2024-09-12,NaN,Información no disponible,within an hour,0.87,f,...,NaN,NaN,NaN,6900399034456,t,17,17,17,0,NaN
9888,9888,Havre de Paix au Cœur du 7ème,666633599,Adrian,2024-12-12,NaN,Información no disponible,NaN,NaN,f,...,NaN,NaN,NaN,6938712751252,f,1,1,1,0,NaN
9889,9889,Le Duplex avec Rooftop,12466813,Hugues,2014-02-22,"Lyon, France",Información no disponible,within an hour,1.00,f,...,NaN,NaN,NaN,6938713431341,f,1,1,1,0,NaN
9890,9890,L’opéra,417340177,Fifa,2021-08-07,"Lyon, France",Información no disponible,within an hour,1.00,NaN,...,NaN,NaN,NaN,Exempt - hotel-type listing,t,5,4,4,0,NaN

In [18]:
pl.valores_nulos(concreto)

('Valores nulos por columna',
 Unnamed: 0                                          0
 name                                                0
 host_id                                             0
 host_name                                           2
 host_since                                          2
 host_location                                    1524
 host_about                                          0
 host_response_time                               4656
 host_response_rate                               4656
 host_is_superhost                                 211
 host_neighbourhood                               5544
 host_listings_count                                 2
 host_total_listings_count                           2
 host_identity_verified                              2
 neighbourhood_cleansed                              0
 latitude                                            0
 longitude                                           0
 property_type                                       0
 room_type                                           0
 accommodates                                        0
 bathrooms                                        4425
 bedrooms                                         1372
 beds                                             4433
 price                                            4421
 minimum_nights                                      0
 maximum_nights                                      0
 minimum_minimum_nights                              0
 maximum_minimum_nights                              0
 minimum_maximum_nights                              0
 maximum_maximum_nights                              0
 minimum_nights_avg_ntm                              0
 maximum_nights_avg_ntm                              0
 availability_30                                     0
 availability_60                                     0
 availability_90                                     0
 availability_365                                    0
 number_of_reviews                                   0
 number_of_reviews_ltm                               0
 number_of_reviews_l30d                              0
 last_review                                      1867
 review_scores_rating                             1867
 review_scores_cleanliness                        1867
 review_scores_checkin                            1870
 review_scores_location                           1871
 license                                          3975
 instant_bookable                                    0
 calculated_host_listings_count                      0
 calculated_host_listings_count_entire_homes         0
 calculated_host_listings_count_entire_homes.1       0
 calculated_host_listings_count_shared_rooms         0
 reviews_per_month                                1867
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(46436))

In [32]:
csv3 = pl.convertir_a_csv (concreto,'03_string.csv')

**PROMEDIO**

In [19]:
promedio = pl.promedio(df4,'review_scores_rating')
promedio

,Unnamed: 0,name,host_id,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_is_superhost,...,review_scores_cleanliness,review_scores_checkin,review_scores_location,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_entire_homes.1,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,"Duplex avec vue, centre ville",269557,Isabelle,2010-10-24,"Lyon, France",I'm 47 years old. I enjoy books and arts. I'm ...,within a few hours,1.00,f,...,4.71,4.78,4.86,"Available with a mobility lease only (""bail mo...",f,1,1,1,0,0.33
1,1,Nice Flat in the center of Lyon,411285,Clementine,2011-02-26,"Lyon, France",Je travaille dans le cinéma et je voyage beauc...,within an hour,1.00,f,...,4.80,4.96,4.88,6938113058353,f,1,1,1,0,0.15
2,2,"Centre of old town,home sweet home",660135,Polali,2011-06-03,"Lyon, France","J'ai 34 ans , je suis animatrice auprès de per...",a few days or more,0.00,f,...,4.27,4.72,4.86,6938513221658,f,1,1,1,0,0.82
3,3,"Bel apartment, 2 rooms, Lyon center",670404,Sandrine,2011-06-06,"Lyon, France","We are a family with 3 daughters, aged 16-14-1...",NaN,NaN,f,...,4.89,4.89,4.95,693861800177,f,1,1,1,0,0.12
4,4,Quartier Terreaux 4/6 pers. Hyper centre / Clim,832917,Giuseppina,2011-07-18,"Rhône-Alpes, France","Mon pays d'origine est l'Italie, mais je résid...",within an hour,1.00,f,...,4.86,4.83,4.88,6938112368465,f,2,2,2,0,2.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9886,9886,Suite Rumba,651608878,Pablo,2024-09-12,NaN,NaN,within an hour,0.87,f,...,NaN,NaN,NaN,6900078928345,t,17,17,17,0,NaN
9887,9887,Suite Zelie,651608878,Pablo,2024-09-12,NaN,NaN,within an hour,0.87,f,...,NaN,NaN,NaN,6900399034456,t,17,17,17,0,NaN
9888,9888,Havre de Paix au Cœur du 7ème,666633599,Adrian,2024-12-12,NaN,NaN,NaN,NaN,f,...,NaN,NaN,NaN,6938712751252,f,1,1,1,0,NaN
9889,9889,Le Duplex avec Rooftop,12466813,Hugues,2014-02-22,"Lyon, France",NaN,within an hour,1.00,f,...,NaN,NaN,NaN,6938713431341,f,1,1,1,0,NaN
9890,9890,L’opéra,417340177,Fifa,2021-08-07,"Lyon, France",NaN,within an hour,1.00,NaN,...,NaN,NaN,NaN,Exempt - hotel-type listing,t,5,4,4,0,NaN

In [20]:
pl.valores_nulos(promedio)

('Valores nulos por columna',
 Unnamed: 0                                          0
 name                                                0
 host_id                                             0
 host_name                                           2
 host_since                                          2
 host_location                                    1524
 host_about                                       6066
 host_response_time                               4656
 host_response_rate                               4656
 host_is_superhost                                 211
 host_neighbourhood                               5544
 host_listings_count                                 2
 host_total_listings_count                           2
 host_identity_verified                              2
 neighbourhood_cleansed                              0
 latitude                                            0
 longitude                                           0
 property_type                                       0
 room_type                                           0
 accommodates                                        0
 bathrooms                                        4425
 bedrooms                                         1372
 beds                                             4433
 price                                            4421
 minimum_nights                                      0
 maximum_nights                                      0
 minimum_minimum_nights                              0
 maximum_minimum_nights                              0
 minimum_maximum_nights                              0
 maximum_maximum_nights                              0
 minimum_nights_avg_ntm                              0
 maximum_nights_avg_ntm                              0
 availability_30                                     0
 availability_60                                     0
 availability_90                                     0
 availability_365                                    0
 number_of_reviews                                   0
 number_of_reviews_ltm                               0
 number_of_reviews_l30d                              0
 last_review                                      1867
 review_scores_rating                                0
 review_scores_cleanliness                        1867
 review_scores_checkin                            1870
 review_scores_location                           1871
 license                                          3975
 instant_bookable                                    0
 calculated_host_listings_count                      0
 calculated_host_listings_count_entire_homes         0
 calculated_host_listings_count_entire_homes.1       0
 calculated_host_listings_count_shared_rooms         0
 reviews_per_month                                1867
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(50635))

In [36]:
csv4 = pl.convertir_a_csv (promedio,'04_promedio.csv')

**MEDIANA**

In [21]:
#Columnas numéricas donde hay valores extremos y el promedio podría estar distorsionado
mediana= pl.mediana(df5)
mediana

,Unnamed: 0,name,host_id,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_is_superhost,...,review_scores_cleanliness,review_scores_checkin,review_scores_location,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_entire_homes.1,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,"Duplex avec vue, centre ville",269557,Isabelle,2010-10-24,"Lyon, France",I'm 47 years old. I enjoy books and arts. I'm ...,within a few hours,1.00,f,...,4.71,4.78,4.86,"Available with a mobility lease only (""bail mo...",f,1,1,1,0,0.33
1,1,Nice Flat in the center of Lyon,411285,Clementine,2011-02-26,"Lyon, France",Je travaille dans le cinéma et je voyage beauc...,within an hour,1.00,f,...,4.80,4.96,4.88,6938113058353,f,1,1,1,0,0.15
2,2,"Centre of old town,home sweet home",660135,Polali,2011-06-03,"Lyon, France","J'ai 34 ans , je suis animatrice auprès de per...",a few days or more,0.00,f,...,4.27,4.72,4.86,6938513221658,f,1,1,1,0,0.82
3,3,"Bel apartment, 2 rooms, Lyon center",670404,Sandrine,2011-06-06,"Lyon, France","We are a family with 3 daughters, aged 16-14-1...",NaN,1.00,f,...,4.89,4.89,4.95,693861800177,f,1,1,1,0,0.12
4,4,Quartier Terreaux 4/6 pers. Hyper centre / Clim,832917,Giuseppina,2011-07-18,"Rhône-Alpes, France","Mon pays d'origine est l'Italie, mais je résid...",within an hour,1.00,f,...,4.86,4.83,4.88,6938112368465,f,2,2,2,0,2.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9886,9886,Suite Rumba,651608878,Pablo,2024-09-12,NaN,NaN,within an hour,0.87,f,...,4.80,4.90,4.90,6900078928345,t,17,17,17,0,0.60
9887,9887,Suite Zelie,651608878,Pablo,2024-09-12,NaN,NaN,within an hour,0.87,f,...,4.80,4.90,4.90,6900399034456,t,17,17,17,0,0.60
9888,9888,Havre de Paix au Cœur du 7ème,666633599,Adrian,2024-12-12,NaN,NaN,NaN,1.00,f,...,4.80,4.90,4.90,6938712751252,f,1,1,1,0,0.60
9889,9889,Le Duplex avec Rooftop,12466813,Hugues,2014-02-22,"Lyon, France",NaN,within an hour,1.00,f,...,4.80,4.90,4.90,6938713431341,f,1,1,1,0,0.60
9890,9890,L’opéra,417340177,Fifa,2021-08-07,"Lyon, France",NaN,within an hour,1.00,NaN,...,4.80,4.90,4.90,Exempt - hotel-type listing,t,5,4,4,0,0.60

In [22]:
pl.valores_nulos(mediana)

('Valores nulos por columna',
 Unnamed: 0                                          0
 name                                                0
 host_id                                             0
 host_name                                           2
 host_since                                          2
 host_location                                    1524
 host_about                                       6066
 host_response_time                               4656
 host_response_rate                                  0
 host_is_superhost                                 211
 host_neighbourhood                               5544
 host_listings_count                                 0
 host_total_listings_count                           0
 host_identity_verified                              2
 neighbourhood_cleansed                              0
 latitude                                            0
 longitude                                           0
 property_type                                       0
 room_type                                           0
 accommodates                                        0
 bathrooms                                           0
 bedrooms                                            0
 beds                                                0
 price                                               0
 minimum_nights                                      0
 maximum_nights                                      0
 minimum_minimum_nights                              0
 maximum_minimum_nights                              0
 minimum_maximum_nights                              0
 maximum_maximum_nights                              0
 minimum_nights_avg_ntm                              0
 maximum_nights_avg_ntm                              0
 availability_30                                     0
 availability_60                                     0
 availability_90                                     0
 availability_365                                    0
 number_of_reviews                                   0
 number_of_reviews_ltm                               0
 number_of_reviews_l30d                              0
 last_review                                      1867
 review_scores_rating                                0
 review_scores_cleanliness                           0
 review_scores_checkin                               0
 review_scores_location                              0
 license                                          3975
 instant_bookable                                    0
 calculated_host_listings_count                      0
 calculated_host_listings_count_entire_homes         0
 calculated_host_listings_count_entire_homes.1       0
 calculated_host_listings_count_shared_rooms         0
 reviews_per_month                                   0
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(23849))

In [35]:
csv5 = pl.convertir_a_csv (mediana,'05_mediana.csv')

**CONSTANTE**

In [23]:
constante= pl.constante(df6,'last_review','host_is_superhost','host_neighbourhood',0)
constante

,Unnamed: 0,name,host_id,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_is_superhost,...,review_scores_cleanliness,review_scores_checkin,review_scores_location,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_entire_homes.1,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,"Duplex avec vue, centre ville",269557,Isabelle,2010-10-24,"Lyon, France",I'm 47 years old. I enjoy books and arts. I'm ...,within a few hours,1.00,f,...,4.71,4.78,4.86,"Available with a mobility lease only (""bail mo...",f,1,1,1,0,0.33
1,1,Nice Flat in the center of Lyon,411285,Clementine,2011-02-26,"Lyon, France",Je travaille dans le cinéma et je voyage beauc...,within an hour,1.00,f,...,4.80,4.96,4.88,6938113058353,f,1,1,1,0,0.15
2,2,"Centre of old town,home sweet home",660135,Polali,2011-06-03,"Lyon, France","J'ai 34 ans , je suis animatrice auprès de per...",a few days or more,0.00,f,...,4.27,4.72,4.86,6938513221658,f,1,1,1,0,0.82
3,3,"Bel apartment, 2 rooms, Lyon center",670404,Sandrine,2011-06-06,"Lyon, France","We are a family with 3 daughters, aged 16-14-1...",NaN,NaN,f,...,4.89,4.89,4.95,693861800177,f,1,1,1,0,0.12
4,4,Quartier Terreaux 4/6 pers. Hyper centre / Clim,832917,Giuseppina,2011-07-18,"Rhône-Alpes, France","Mon pays d'origine est l'Italie, mais je résid...",within an hour,1.00,f,...,4.86,4.83,4.88,6938112368465,f,2,2,2,0,2.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9886,9886,Suite Rumba,651608878,Pablo,2024-09-12,NaN,NaN,within an hour,0.87,f,...,NaN,NaN,NaN,6900078928345,t,17,17,17,0,NaN
9887,9887,Suite Zelie,651608878,Pablo,2024-09-12,NaN,NaN,within an hour,0.87,f,...,NaN,NaN,NaN,6900399034456,t,17,17,17,0,NaN
9888,9888,Havre de Paix au Cœur du 7ème,666633599,Adrian,2024-12-12,NaN,NaN,NaN,NaN,f,...,NaN,NaN,NaN,6938712751252,f,1,1,1,0,NaN
9889,9889,Le Duplex avec Rooftop,12466813,Hugues,2014-02-22,"Lyon, France",NaN,within an hour,1.00,f,...,NaN,NaN,NaN,6938713431341,f,1,1,1,0,NaN
9890,9890,L’opéra,417340177,Fifa,2021-08-07,"Lyon, France",NaN,within an hour,1.00,0,...,NaN,NaN,NaN,Exempt - hotel-type listing,t,5,4,4,0,NaN

In [24]:
pl.valores_nulos(constante)

('Valores nulos por columna',
 Unnamed: 0                                          0
 name                                                0
 host_id                                             0
 host_name                                           2
 host_since                                          2
 host_location                                    1524
 host_about                                       6066
 host_response_time                               4656
 host_response_rate                               4656
 host_is_superhost                                   0
 host_neighbourhood                                  0
 host_listings_count                                 2
 host_total_listings_count                           2
 host_identity_verified                              2
 neighbourhood_cleansed                              0
 latitude                                            0
 longitude                                           0
 property_type                                       0
 room_type                                           0
 accommodates                                        0
 bathrooms                                        4425
 bedrooms                                         1372
 beds                                             4433
 price                                            4421
 minimum_nights                                      0
 maximum_nights                                      0
 minimum_minimum_nights                              0
 maximum_minimum_nights                              0
 minimum_maximum_nights                              0
 maximum_maximum_nights                              0
 minimum_nights_avg_ntm                              0
 maximum_nights_avg_ntm                              0
 availability_30                                     0
 availability_60                                     0
 availability_90                                     0
 availability_365                                    0
 number_of_reviews                                   0
 number_of_reviews_ltm                               0
 number_of_reviews_l30d                              0
 last_review                                         0
 review_scores_rating                             1867
 review_scores_cleanliness                        1867
 review_scores_checkin                            1870
 review_scores_location                           1871
 license                                          3975
 instant_bookable                                    0
 calculated_host_listings_count                      0
 calculated_host_listings_count_entire_homes         0
 calculated_host_listings_count_entire_homes.1       0
 calculated_host_listings_count_shared_rooms         0
 reviews_per_month                                1867
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(44880))

In [37]:
csv6 = pl.convertir_a_csv (constante,'06_constante.csv')

**Limpio todo el df de Francia - Lyon**

In [5]:
francia_sin_nulos = pl.sustitucion_completa(df)
sin_nulos = pl.convertir_a_csv (francia_sin_nulos,'Francia_sin_nulos.csv')

In [8]:
sin_nulos = pl.valores_nulos(francia_sin_nulos)
sin_nulos

('Valores nulos por columna',
 Unnamed: 0                                       0
 host_id                                          0
 host_response_rate                               0
 host_listings_count                              0
 host_total_listings_count                        0
 latitude                                         0
 longitude                                        0
 accommodates                                     0
 bathrooms                                        0
 bedrooms                                         0
 beds                                             0
 price                                            0
 minimum_nights                                   0
 maximum_nights                                   0
 minimum_minimum_nights                           0
 maximum_minimum_nights                           0
 minimum_maximum_nights                           0
 maximum_maximum_nights                           0
 minimum_nights_avg_ntm                           0
 maximum_nights_avg_ntm                           0
 availability_30                                  0
 availability_60                                  0
 availability_90                                  0
 availability_365                                 0
 number_of_reviews                                0
 number_of_reviews_ltm                            0
 number_of_reviews_l30d                           0
 review_scores_rating                             0
 review_scores_cleanliness                        0
 review_scores_checkin                            0
 review_scores_location                           0
 calculated_host_listings_count                   0
 calculated_host_listings_count_entire_homes      0
 calculated_host_listings_count_entire_homes.1    0
 calculated_host_listings_count_shared_rooms      0
 reviews_per_month                                0
 name                                             0
 host_name                                        0
 host_since                                       0
 host_location                                    0
 host_about                                       0
 host_response_time                               0
 host_is_superhost                                0
 host_neighbourhood                               0
 host_identity_verified                           0
 neighbourhood_cleansed                           0
 property_type                                    0
 room_type                                        0
 last_review                                      0
 license                                          0
 instant_bookable                                 0
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(0))